/** index **/
.states {
	padding: 30px 10px;
	background-color: #444;
	color: #fff;
}

.states button {
	padding: 10px 30px;
	background-color: rgba(0,0,0,0.3);
	font-size: 18px;
	color: #fff;
	border-style: none;
}

/** mortgage calculator **/
body {
    font-family: "Century Gothic";
    margin: 0;
}

.home-button {
    text-align: left !important;
    padding-left: 80px;
}

.home-button a {
    text-decoration: none;
    color: #fff;
}

.home-button a:hover {
    font-weight: bold;
}

#mortgageCalculator {
    padding-top: 50px;
    text-align: center;
    height: 70vh;
    background-color: #6c648b;
    color: #fff;
}

#mortgageCalculator input {
    padding: 10px 10px;
    margin: 20px 0;
    color: #6c648b;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid #fff;
    border-radius: 8px;
}

#mortgageCalculator .input-error {
    border: 3px solid #ff0066;
}

#mortgageCalculator button {
    padding: 10px 30px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    background-color: rgba(0,0,0,0);
    color: #fff;
}

#result {
    text-align: center;
}

#result h3 {
    color: #6c648b;
}

/* Measurement Calculator */
#measurementConverter {
    padding: 50px;
    text-align: left;
    height: 70vh;
    background-color: #006699;
    color: #fff;
}

#measurementConverter input {
    padding: 10px 10px;
    margin: 5px 0;
    color: #6c648b;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid #fff;
    border-radius: 8px;
}

#measurementConverter .options{
	float: left;
	padding: 30px;
}

#measurementConverter button {
	position: absolute;
}

#measurementConverter .enter-result {
	padding: 30px;
}

#measurementConverter button {
	padding: 10px 30px;
	border: 1px solid #fff;
	border-radius: 8px;
	background-color: rgba(0,0,0,0);
	color: #fff;
	font-family: 'Century Gothic';
}